
h2 {
    margin:7px 0;
    text-transform: uppercase;
    color: #686868;
    font-size: 30px;
}

h2>span{
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li {
    display: inline-block;
    width: 50px;
    height: 10px;
    margin-right: 1px;
}

table{
    padding: auto;
}
tbody{
    text-align: center;
}



li:first-child {
    background-color: #ff5000;
}

li:nth-child(2) {
    background-color: #f28123;
}

li:nth-child(3) {
    background-color: #96aeda;
}

li:nth-child(4) {
    background-color: #958fa9;
}

li:last-child {
    background-color: #39726b;
}




.item{
    background-color: #6a6a6a;
    color: white;
    padding: 5px 5px;
    margin: 5px;
}
.estoque{
    background-color: #ff4d00;
    color: white;
}
.desconto{
    background-color: #f38121;
    color: white;
}
.custo{
    background-color:#92afd7;
    color:white;
}
.vendas{
    background-color: #9590a7;
    color: white;
}
.vida{
    background-color: #37736b;
    color: white;
}
.valorf{
    background-color: #6a6a6a;
    color: white;
}
.total{
    background-color: #6a6a6a;
    color: white;
}
.custo2{
    background-color: #92afd7;
    color: white;
}
.vendas2{
    background-color: #9590a7;
    color: white;
}
.valorf2{
    background-color: #6a6a6a;
    color: white;
}
.li{
    background-color: #f2f2f2;
}
.lp{
    background-color: #d9d9d9;
}




























/* 
Somente os itens em posições pares 

li:nth-child(2n){
    background-color: aqua;
}

/* Somente os itens em posições ímpares

li:nth-child(2n-1){
    background-color: yellowgreen;
}
*/